.candidature-form {
  background: rgb(70, 66, 66);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 950px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Style des champs du formulaire */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-weight: bold;
  color: #000000;
}

input,
select {
  padding: 5px;
  border: 1px solid #0b0b0b;
  border-radius: 5px;
  font-size: 14px;
}

/* Style du bouton Ajouter */
.ajouter-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  padding-right: 30px;
  padding-left: 30px;
}

.ajouter-btn:hover {
  background-color: #0056b3;
  border: none;
}

/* Couleurs des statuts */
.statut-en-attente {
  background-color: orange;
  color: white;
}

.statut-acceptée {
  background-color: green;
  color: white;
}

.statut-refusée {
  background-color: red;
  color: rgb(255, 255, 255);
}

.candidature-list-row {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
